= form_for @task do |f|
  = f.label :name
  = f.text_field :name
  = f.label :desc
  = f.text_field :desc
  = f.label :duedate
  %input#task_duedate{type:'date', name:'task[duedate]', value:"2000-01-01"}
  / = f.text_field :duedate
  = f.label :priority
  = f.select :priority_id, @priorities.map { |p| [p.name, p.id] }
  = f.submit id: 'submit'
#list
  %table{class:''}
    %thead
      %tr
        %th#taskcol-name
          =link_to 'Name', '#'
        %th#taskcol-desc
          =link_to 'Description', '#'
        %th#taskcol-duedate
          =link_to 'Due Date', '#'
        %th.hidden
          Ugency
      %tbody#task-list
        - @tasks.each do |t|
          %tr.task{style:'background-color:'+t.priority.color}
            %td.name=t.name
            %td.desc=t.desc
            %td.duedate=t.duedate
            %td.hidden{class:'urgency_index'}
              =t.priority.urgency_index


= javascript_include_tag'tasks'